/*------------- Font  ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans:wght@500;600&display=swap');
*{
    font-family: 'Work Sans';
}

/*------------------- Header -----------------  */
.header{
    background: rgba(255, 144, 14, 0.10);
    
    margin-bottom: 50px;
flex-shrink: 0;
}
.menu-bar{
    display: flex;
}
.sub-title{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}
.navigation-bar a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.623);
}
.title{
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    width: 863px;
    margin-left: 250px;
    margin-bottom: 25px;
}
.heading-description{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 868px;
    margin-left: 240px;
    
}
.btn-primary{
    width: 170px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid white;
    flex-shrink: 0;
    background: #FF900E;

    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: 585px;
    margin-bottom: 50px;
}
.banner{
    width: 1240px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 8px;
    margin-left: 50px;
    margin-bottom: 25px;
}
/* list-of-features */
.list-of-features{
    display: flex;
    flex-direction: row;
}
.images{
    width: 230px;
    height: 230px;
    flex-shrink: 0;
    border-radius: 8px;
background: url(<path-to-image>), lightgray -85.564px 0px / 150.038% 100% no-repeat;

}
.image-section{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin-left: 80px;
}
.btn-primary-2{
    margin-top: 10px;
    width: 170px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid white;
    flex-shrink: 0;
    background: #FF900E;

    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
  
}
.quick{
    margin-top: 100px;
    margin-left: 50px;
}
h2{
    width: 256px;
    font-size: 30px;
}
.quick-description{
 width: 500px;
 font-size: 14px;
 color: #727272;
}
span{
    color: #727272;
}
strong{
    color: black;
}
.colored{
    color:#FF900E;
}
.features{
    display: flex;
    flex-direction: row ;
    margin-top: 100px;
    margin-left: 50px;
}
.features-description{
    width: 586px;
    margin-bottom: 50px;
    color: var(--Dark-03, #727272);
font-size: 14px;
font-weight: 400;
line-height: 26px;
}

.subtitle{
    color: var(--Dark-01, #131313);
font-size: 20px;
font-weight: 600;
}
.subtitle-description{
    width: 514px;
    color: var(--Dark-03, #727272);
font-family: Work Sans;
font-size: 13px;
font-weight: 400;
line-height: 26px;
}

.Subtitle{
    margin-left: 20px;
    width: 550px;
height: 171px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.architect-image{
    width: 600px;
    height: 700px;
    border-radius: 8px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.btn-primary-3{
    width: 330px;
height: 180px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid white;
background: #FF900E;

width: 258px;
color: #FFF;
text-align: center;
font-size: 55px;
font-weight: 700;
line-height: 70px;
}
small{
    color: #FFF;
font-size: 25px;
font-weight: 500;
line-height: 40px;
}
  .fact{
    margin-top: 150px;
    margin-left: 45px;
  }
  .facts-title{
    color: var(--Dark-01, #131313);
font-size: 35px;
font-weight: 600;
  }
  .facts-description{
    width: 542px;
    color: var(--Dark-03, #727272);
font-size: 13px;
font-weight: 400;
line-height: 26px;
  }

  .boxs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 45px;
  margin-left: 80px;
}
.box{
    width: 150px;
height: 150px;
border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
justify-content: center;
align-items: center;

}

.sponser{
    margin-top: 150px; 
}
.sponser-image{
    justify-content: space-between;
}